@forward './base/index';
@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

// variable 
$secondary: v.$secondary;
$primary: v.$primary;
$dark: v.$dark;
$light: v.$light;
$base1: v.$base1;
$base2: v.$base2;
$base3: v.$base3;


// regular css @s
.main-page-wrapper{
    width: 100%;
    display: block;
    background-color: $light;
    font-family: 'Noto Sans JP', sans-serif;
} 

.default-bttn{
    @include m.button(1rem,$light,$primary);
    border: 1px solid $primary; 
    &:hover{
        background-color: $light;
        color: $primary;
    }
}
.secondary-bttn{
    @include m.button(1rem,$primary,$light);
    border: 1px solid $primary; 
    &:hover{
        background-color: $primary;
        color: $light;
    }
}

.common-heading {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        @include m.para(2.4rem, 500, v.$primary);
    }
}

.common-para {
    @include m.para(1rem, 400, v.$primary);
}
// regular css @e


/* header css start */
.header-section {
    padding-top: 1rem;
    box-shadow: 0px 10px 10px #00000029;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    .navbar-nav .nav-item .nav-link {
        @include m.para(1rem, 700, v.$base2);
        margin-right: 1rem; 
        &:hover{
            color: $primary;
        }
    }  

}

/* header css end */

// hero css @s
.hero-section{
    margin-top: 5.15rem;
}

/* hero css start */
.hero-section {
    background-color: $base1; 
    @include m.bgi('../images/hero-bg.jpg');
}

.hero-txt-wrap {
    padding: 5rem 0;
    text-align: end;

    h5 {
        @include m.para(1.5rem, 700, v.$light); 
    }
    h3 {
        @include m.para(2.7rem, 600, v.$light); 
    }
    h1 {
        @include m.para(3.7rem, 700, v.$light); 
    } 

    .hero-bttn{
        margin-top: 2rem;
        i{
            margin-left: 3rem;
        }
    }
}


// ======= responsive css @s
// small phone device
@include q.responsive(phone){
    
}

// landscape phone device 
@include q.responsive(landphone){
    
}

// tablet device 
@include q.responsive(tablet){
    
}

// ======= responsive css @e