@forward './base/index';
@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

// variable 
$secondary: v.$secondary;
$primary: v.$primary;
$dark: v.$dark;
$light: v.$light;
$base1: v.$base1;
$base2: v.$base2;
$base3: v.$base3;
$base4: v.$base4;


// regular css @s
.japanease-font {
    font-family: 'Noto Sans JP', sans-serif;
}

.default-bttn {
    @include m.button(1rem, $light, $primary);
    border: 1px solid $primary;

    &:hover {
        background-color: $light;
        color: $primary;
    }
}

.secondary-bttn {
    @include m.button(1rem, $primary, $light);
    border: 1px solid $primary;

    &:hover {
        background-color: $primary;
        color: $light;
    }
}

.common-heading {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        @include m.para(5rem, 700, v.$primary);
    }

    p {
        @include m.para(2rem, 700, v.$primary);
    }
}

.pa-y4 {
    padding: 6rem 0;
}

// regular css @e


/* header css start */
.header-section {
    padding-top: 1rem;
    box-shadow: 0px 10px 10px #00000029;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light;
    width: 100%;
    z-index: 9999;
    font-family: 'Noto Sans JP', sans-serif;

    .navbar-nav .nav-item .nav-link {
        @include m.para(1rem, 700, v.$base2);
        margin-right: 1rem;

        &:hover {
            color: $primary;
        }
    }

    .navbar-brand {
        img {
            width: 13rem;
        }
    }

}

/* header css end */

// hero css @s

.hero-section {
    background-color: $base1;
    @include m.bgi('../images/hero-bg.png');
    background-position: bottom center;
    margin-top: 85px;
    .hero-ol {
        padding: 8rem 0;
        @include m.bgi('../images/hero-ol-img.svg');
        background-position: bottom center;
    }
}

.vision-hero-section {
    @include m.bgi('../images/vision-hero-bg.jpg');
    margin-top: 85px;
    .hero-ol {
        padding: 10rem 0;
        background: rgb(5, 83, 148);
        background: linear-gradient(90deg, rgba(5, 83, 148, 0.9) 0%, rgba(116, 180, 217, 0.9) 100%);
    }
}

.services-hero-section {
    @include m.bgi('../images/vision-hero-bg.jpg');
    margin-top: 85px;
    .hero-ol {
        padding: 10rem 0;
        background: rgb(5, 83, 148);
        background: linear-gradient(90deg, rgba(5, 83, 148, 0.9) 0%, rgba(116, 180, 217, 0.9) 100%);
    }
}

.hero-txt-wrap {
    text-align: end;

    h5 {
        @include m.para(2rem, 700, $light);
    }

    h3 {
        @include m.para(4rem, 600, $light);
    }

    h1 {
        @include m.para(5rem, 700, $light);
    }

    .hero-bttn {
        margin-top: 4rem;
        margin-bottom: 2rem;

        a {
            border: 1px solid $light;
        }

        i {
            margin-left: 3rem;
        }
    }

    .scroll-down {
        margin-top: 2rem;
        position: relative;
        top: -1rem;
        z-index: 99;
        cursor: pointer;

        a {
            position: absolute;
            left: 0;
            transform: rotate(-90deg);
            @include m.para(0.9rem, 400, $light);
            z-index: 99;
        }

        img {
            position: absolute;
            left: 0.2rem;
            z-index: 99;
            width: 2rem;
            bottom: -7.5rem;
        }
    }
}

// custom bg
.custom-bg-one {
    @include m.bgi('../images/hero-bottom-bg.png');
    background-size: 100%;
    background-position: top center;
}

.about-txt {
    font-family: 'Noto Sans JP', sans-serif;

    h2 {
        @include m.para(5rem, 700, $primary);
    }

    h5 {
        @include m.para(2rem, 700, $primary);
    }

    .para {
        margin-left: 2rem;
        margin-top: 3rem;
        margin-right: 1rem;

        h6 {
            @include m.para(2rem, 700, $base2);
            margin-bottom: 2.5rem;
        }

        p {
            @include m.para(1.5rem, 500, $base2);
            margin-bottom: 4rem;
            opacity: 0.7;
        }

        a {
            padding-left: 4rem;

            i {
                margin-left: 1.8rem;
            }
        }
    }
}

.about-img {
    img {
        border-radius: 0.8rem;
        display: block;
        width: 100%;
    }
}

.vision-about-section {
    @include m.bgi('../images/vision-bg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 6rem;
}

.mission-img {
    img {
        width: 80%;
        border-radius: 1rem
    }
}

.pickup-box {
    @include m.df;
    padding: 5rem 0 2rem;

    span {
        display: inline-block;
        @include m.para(2rem, 700, $primary);
        border: 1px solid $primary;
        border-radius: 0.5rem;
        padding: .1rem .5rem;
    }

    div {
        margin-left: 2rem;
        @include m.df;
        border-bottom: 2px solid $base2;
        padding-bottom: 0.8rem;
        padding-left: 3rem;
        width: 80%;

        p {
            @include m.para(1.5rem, 400, $base2);
            margin-right: 2.5rem;
        }

        h6 {
            @include m.para(1.5rem, 700, $base4);
            margin-left: 2.5rem;
        }
    }
}

.parallax-bg-box {
    @include m.bgi('../images/paralax-bg.png');
    min-height: 28rem;
    background-attachment: fixed;
    background-position: bottom center;
}

// services css @s
.services-section {
    @include m.bgi('../images/sevices-bg.png');
    background-color: #055394;

    .common-heading {

        h2,
        p {
            color: $light;
        }
    }
}

.services-txt {
    h5 {
        @include m.para(2rem, 700, $light);
        margin-bottom: 1.5rem;
    }

    h6 {
        @include m.para(1.5rem, 400, $light);
        margin-bottom: 1.5rem;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            width: 2.5rem;
            height: 2px;
            background-color: $light;
        }
    }

    p {
        @include m.para(1.5rem, 400, $light);
        opacity: 0.7;
    }
}

.services-main-section {
    .services-txt {
        h5 {
            color: $primary
        }

        h6 {
            color: $primary;

            &:before {
                background-color: $primary;
            }
        }

        p {
            color: $primary;
            opacity: 0.7;
        }
    }

    .services-optional-title {
        h4 {
            @include m.para(2rem, 700, $primary);
        }
    }
}

/* services text bg css */
.services-bloock-bg {
    position: relative;

    .services-txt {
        p {
            color: $light;
        }
    }

    &:before {
        position: absolute;
        content: "";
        right: 0;
        top: 12%;
        width: 50%;
        height: 80%;
        border-radius: 1rem 0 0 1rem;
        background-color: $primary;
        padding: 1rem;
        z-index: -1;
    }
}

.services-bloock-bg-2 {
    position: relative;

    .services-txt {
        p {
            color: $light;
        }
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 20%;
        width: 50%;
        height: 60%;
        border-radius: 0rem 1rem 1rem 0;
        background-color: $primary;
        padding: 1rem;
        z-index: -1;
    }
}

.custom-margin-top-serv {
    margin-top: 7rem;
}

// feedback css start
.feedback-section {
    background-color: $primary;

    .feedback-head {
        margin-bottom: 4rem;

        h5 {
            @include m.para(2rem, 700, $light);
        }
    }

    .feedback-carousel {
        .feedback-txt-box {
            @include m.box(1rem, 1rem, $light);
            padding-right: 0;
            padding-left: 0.4rem;
            // max-width: 40%;
            margin: 0 2rem;

            .media {
                align-items: flex-start;

                .avatar {
                    text-align: center;
                    margin-right: 1rem;

                    img {
                        width: 9rem;
                        height: 9rem;
                        margin: 0 auto;
                        display: block;
                    }

                    span {
                        display: block;
                        @include m.para(1.15rem, 500, $base2);
                        margin: .9rem 0;
                        opacity: 0.8;
                    }

                    h6 {
                        @include m.para(1.5rem, 500, $base2);
                        opacity: 0.8;
                    }
                }

                .media-body {
                    h5 {
                        background: rgb(5, 83, 148);
                        background: linear-gradient(90deg, rgba(5, 83, 148, 1) 0%, rgba(116, 180, 217, 1) 100%);
                        @include m.para(1.5rem, 700, $light);
                        padding: .5rem .1rem;
                        padding-left: 1rem;
                    }

                    p {
                        @include m.para(1.5rem, 500, $base2);
                        opacity: 0.7;
                        margin-top: 1rem;
                    }
                }
            }
        }

    }
}

.services-feedback-section {
    background-color: $light;

    .feedback-head {

        h5 {
            color: $primary;
        }
    }

    .feedback-carousel {
        .feedback-txt-box {
            background-color: $base3;

        }

    }
}

// post css start 
.post-section {
    background-color: $primary;

    .post-box {
        position: relative;

        .thumbnail {
            img {
                display: block;
                width: 100%;
            }
        }

        .txt {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include m.df(space-between);
            flex-direction: column;
            padding: 1rem;

            h4 {
                @include m.para(2rem, 700, $light);
            }

            a {
                padding-left: 3rem;

                i {
                    padding-left: 1rem;
                }
            }
        }
    }
}

.news-section {

    .news-txt-box {
        @include m.df;
        border-top: 2px solid $base2;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        .media{
            align-items: center;
            width: 100%;
            .media-body{
                display: flex;
                align-items: center;
            }
            a{
                margin-left: auto;
            }
        }

        img {
            width: 10rem;
            border-radius: 0.675rem;
        }

        p {
            @include m.para(1.15rem, 400, $base2);
            margin: 0 2rem;
        }

        h6 {
            @include m.para(1.5rem, 700, $base2);
        }

        a {
            margin-left: auto;
        }

        &:hover {

            p,
            h6,
            a {
                color: $primary;
            }
        }

    }

    .brdr-btm {
        border-bottom: 2px solid $base2;
        padding-bottom: 0.5rem;
    }

    .text-center {
        margin-top: 4rem;

        a {
            padding-left: 4rem;

            i {
                padding-left: 1rem;
            }
        }
    }
}

// get start css
.get-start-bg {
    @include m.bgi('../images/get-bg.png');
    background-size: contain;
    background-position: center left;
}

.get-start-box {
    padding: 4rem 3rem;
    text-align: center;
    background: rgb(5, 83, 148);
    background: linear-gradient(90deg, rgba(5, 83, 148, 1) 0%, rgba(116, 180, 217, 1) 100%);
    border-radius: 1rem;

    h3 {
        @include m.para(3.5rem, 700, $light);
    }

    h6 {
        @include m.para(1.5rem, 500, $light);
        opacity: .8;
        margin: 2rem 0;
    }

    .bttns {
        a {
            border: 1px solid $light;

            i {
                padding-left: 3rem;
            }
        }
    }
}

.footer-section {
    padding-top: 3rem;

    .ftr-logo {
        p {
            @include m.para(1.15rem, 700, $primary);
        }

        a {
            display: block;
        }
    }

    .ftr-menu {
        ul {
            @include m.df(flex-end);

            li {
                a {
                    display: block;
                    @include m.para(1.5rem, 700, $base2);
                    margin-left: 1rem;
                }
            }
        }
    }

    .ftr-copy {
        text-align: center;
        padding-bottom: 2rem;
        padding-top: 4rem;

        p {
            @include m.para(1.15rem, 500, $base2);
        }
    }
}

// vision css @s
.value-box-wrap {
    @include m.df(center);

    .value-txt-item {
        border: 2px solid $primary;
        width: 360px;
        height: 360px;
        @include m.df(center);
        flex-direction: column;
        border-radius: 50%;

        h5 {
            @include m.para(1.5rem, 700, $primary);
            margin-bottom: 3rem;
        }

        h6 {
            @include m.para(1.5rem, 700, $base4);
            margin-bottom: 2rem;
        }

        p {
            @include m.para(1.5rem, 500, $base2);
            text-align: center;
        }
    }

    .custom-margin {
        margin: 0 -2.5rem;
    }
}

// team css start
.team-person-box {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;

    .thumbnail {
        img {
            display: block;
            width: 100%;
            border-radius: 1rem;
        }
    }

    .txt {
        h5 {
            @include m.para(1.5rem, 700, $base4);
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        h6 {
            @include m.para(2rem, 700, $base4);
            margin-bottom: 1rem;
        }

        p {
            @include m.para(1.1rem, 500, $base2);
            text-align: left;
        }
    }
}

// team css end

.custom-margin-top {
    margin-top: -12rem;
}

.company-section {
    background-color: $primary;
    padding-bottom: 20rem;

    .company-title {
        h2 {
            @include m.para(5rem, 700, $light);
        }

        h5 {
            @include m.para(2rem, 700, $light);
        }
    }

    .company-table-list {
        .d-flex {
            padding: 1.5rem .5rem;
            border-top: 1px solid $base1;

            h6 {
                @include m.para(1.5rem, 500, $base1);
                opacity: .8;
                margin-right: 2rem;
                min-width: 100px
            }

            h5 {
                @include m.para(1.5rem, 700, $base1);
            }

            &:last-child {
                border-bottom: 1px solid $base1;
            }
        }
    }
}

// services area
.services-header-area {
    margin-top: 2rem;

    h4 {
        @include m.para(1.5rem, 700, $base4);
        border-bottom: 2px solid $base4;
        padding-bottom: 0.5rem;

        span {
            margin-left: 4rem;
            font-weight: 400;
        }
    }
}

.services-area-box {
    width: 100%;
    height: 6rem;
    background-color: $base3;
    margin-top: 1.5rem;
}

/* news css start */
.news-main-section {
    .news-post-box {
        margin-top: 4rem;

        .thumbnail {
            img {
                display: block;
                width: 100%;
                border-radius: 1rem;
            }
        }

        .txt {
            margin-top: 1rem;

            h5 {
                @include m.para(1.5rem, 400, $base4);
                margin-bottom: 1rem;
            }

            p {
                @include m.para(1.2rem, 400, $base4);
            }
        }
    }
}

/* news css end */

/* contact css start */
.contact-hero-section {
    @include m.bgi('../images/contact-hero-bg.png');
    padding: 10rem 0;
}

.contact-form-box {
    h4 {
        @include m.para(1.5rem, 700, $base2);
    }

    .custom-brdr {
        border-top: 1.5px solid $base4;
        padding-top: 1rem;
        margin-top: 1rem;
        align-items: center;
    }

    .form-group {
        position: relative;

        label {
            @include m.para(1.5rem, 500, $base2);
        }

        .form-control {
            @include m.para(1.2rem, 700, $base2);
            border: 0;
        }

        i {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 2rem;
        }

        textarea {
            border: 1px solid $base2 !important;
            border-radius: 1rem;
            resize: none;
        }
    }

}

/* contact css end */

/* news details css start */
.news-details-title {
    margin-bottom: 2rem;

    h1 {
        @include m.para(1.5rem, 500, $base2);
    }
}

.news-details-box {
    h6 {
        @include m.para(1.5rem, 700, $base4);
        margin-bottom: 1rem;
    }

    h4 {
        @include m.para(2rem, 700, $base4);
        margin-bottom: 2rem;
    }

    p {
        @include m.para(1.5rem, 500, $base2);
        margin-bottom: 1.5rem;
    }

    img {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* news details css end */



// custom container width
@media (min-width: 1950px) {
    .container {
        max-width: 1920px !important;
    }
}