$dark: #000000;
$light: #ffffff;

$primary: #262A53; 
$secondary: #323232;
$blu: #1CC1FF;

$heading: #14142B;
$txt: #323232;

$bbg: rgba(134, 168, 83, 0.1961);
$bga: rgba(0, 0, 0, 0.2);

$border: #D9DBE9;
$inputbg: #EFF0F7;

$iconclr: #A0A3BD;

$bxs: 0px 32px 64px rgba(0, 0, 0, 0.05);
$grn: #007099;
$fcfc: #FCFCFC;