@media (min-width: 320px) and (max-width: 575px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .header-section {
    padding-bottom: 1rem;
  }
  .header-section .navbar-brand {
    width: 120px;
    padding: 0;
  }
  .header-section .fa-bars {
    font-size: 1.7rem;
    color: #055394;
  }
  .header-section .navbar-toggler {
    border: 0;
  }
  .header-section .d-flex {
    justify-content: center;
  }
  .header-section .d-flex a {
    font-size: 0.9rem;
  }
  .header-section .d-flex a:first-child {
    margin-right: 1rem;
  }
  .hero-section {
    margin-top: 66px;
    background-image: none;
    position: relative;
    background-image: url("../images/mobile-hero.png");
  }
  .hero-section .hero-ol {
    background-image: url("../images/mobile-ol.svg");
  }
  br {
    display: none;
  }
  .hero-txt-wrap {
    margin: 5rem 0;
  }
  .hero-txt-wrap h3 {
    font-size: 2rem;
    line-height: 140%;
  }
  .hero-txt-wrap h1 {
    font-size: 3.2rem;
    line-height: 140%;
  }
  .hero-txt-wrap h5 {
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }
  .hero-txt-wrap .hero-bttn {
    position: absolute;
    left: 4%;
    bottom: 0;
    width: 92%;
  }
  .hero-bttn a {
    display: block;
    width: 100%;
  }
  .scroll-down {
    display: none;
    height: 0;
  }
  .pa-y4 {
    padding: 2rem 0;
  }
  .pickup-box {
    padding: 0;
    padding-top: 3rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .pickup-box div {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .pickup-box div p {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  .pickup-box div h6 {
    margin-left: 0;
    font-size: 1rem;
  }
  .pickup-box span {
    font-size: 1.4rem;
  }
  .about-txt h2 {
    font-size: 2.5rem;
  }
  .about-txt h5 {
    font-size: 1.2rem;
  }
  .common-heading {
    margin-bottom: 1rem;
  }
  .common-heading h2 {
    font-size: 2.5rem;
  }
  .common-heading p {
    font-size: 1.2rem;
  }
  .about-txt {
    margin-top: 2rem;
  }
  .about-txt .para {
    margin: 0;
    margin-top: 2rem;
  }
  .about-txt .para h6 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .about-txt .para p {
    font-size: 1rem;
  }
  .about-txt .text-md-end {
    text-align: end;
  }
  .ordr_1 {
    order: 1;
  }
  .ordr_2 {
    order: 2;
  }
  .services-txt {
    margin-top: 2rem;
  }
  .services-txt h5 {
    font-size: 1.1rem;
  }
  .services-txt p {
    font-size: 1.1rem;
  }
  .custom-margin-top-serv {
    margin-top: 3rem;
  }
  .feedback-section .feedback-head h5 {
    font-size: 1.5rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box {
    margin: 0 1rem;
    padding: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media {
    flex-direction: column;
    justify-content: center;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar {
    width: 100%;
    margin-bottom: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar span {
    font-size: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar h6 {
    font-size: 1.2rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .media-body h5 {
    font-size: 1.2rem;
    text-align: center;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .media-body p {
    font-size: 1rem;
  }
  .post-section .post-box {
    margin-bottom: 2rem;
  }
  .post-section .post-box .txt h4 {
    font-size: 1.2rem;
  }
  .news-section .news-txt-box .media .media-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .news-section .news-txt-box img {
    width: 7rem;
    margin-right: 1rem;
  }
  .news-section .news-txt-box p {
    margin-left: 0;
    font-size: 1rem;
  }
  .news-section .news-txt-box h6 {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .get-start-box {
    padding: 4rem 1rem;
  }
  .get-start-box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .get-start-box h6 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .get-start-box .bttns {
    margin-top: 3rem;
  }
  .get-start-box .bttns a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .get-start-box .bttns a i {
    padding-left: 0.5rem;
  }
  .ftr-logo {
    text-align: center;
    margin-bottom: 2rem;
  }
  .ftr-logo a {
    margin-top: 1rem;
  }
  .ftr-logo a img {
    width: 17rem;
  }
  .footer-section .ftr-menu {
    margin: 3rem 0;
  }
  .footer-section .ftr-menu ul {
    flex-direction: column;
  }
  .footer-section .ftr-menu ul li a {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .footer-section .ftr-copy {
    padding: 2rem 0;
    padding-bottom: 1rem;
  }
  .footer-section .ftr-copy p {
    font-size: 1rem;
  }
  .vision-hero-section .hero-ol {
    padding: 4rem 0;
    margin-top: -1rem;
  }
  .vision-about-section {
    background-size: 36%;
    background-position: top right;
    margin-top: 1rem;
  }
  .about-txt .para p {
    margin-bottom: 0;
  }
  .value-box-wrap {
    flex-direction: column;
  }
  .value-box-wrap .custom-margin {
    margin: -2.5rem 0;
  }
  .team-person-box {
    width: 85%;
  }
  .company-section .company-title {
    margin-bottom: 3rem;
  }
  .company-section .company-title h2 {
    font-size: 2.5rem;
  }
  .company-section .company-title h5 {
    font-size: 1.2rem;
  }
  .company-section .company-table-list .d-flex h6 {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  .company-section .company-table-list .d-flex h5 {
    font-size: 1.2rem;
  }
  .custom-margin-top {
    margin-top: 3rem;
  }
  .about-txt .text-md-end {
    margin-top: 1rem;
  }
  .services-hero-section {
    margin-top: 66px;
  }
  .services-hero-section .hero-ol {
    padding: 2rem 0;
  }
  .services-bloock-bg-2::before,
  .services-bloock-bg::before {
    background-color: transparent;
  }
  .services-bloock-bg-2 .services-txt p,
  .services-bloock-bg .services-txt p {
    color: #333333;
  }
  .contact-form-box .form-group label {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .contact-form-box .form-group .form-control {
    font-size: 1rem;
  }
  .contact-hero-section {
    padding: 4rem 0;
  }
  .news-details-title h1 {
    font-size: 1.2rem;
  }
  .news-details-box h4 {
    font-size: 1.5rem;
  }
  .news-details-box p {
    font-size: 1rem;
  }
  .get-bg {
    padding: 0;
  }
  .hero-txt-wrap .hero-bttn {
    bottom: inherit;
    top: 14rem;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .header-section {
    padding-bottom: 1rem;
  }
  .header-section .navbar-brand {
    width: 120px;
    padding: 0;
  }
  .header-section .fa-bars {
    font-size: 1.7rem;
    color: #055394;
  }
  .header-section .navbar-toggler {
    border: 0;
  }
  .header-section .d-flex {
    justify-content: center;
  }
  .header-section .d-flex a {
    font-size: 0.9rem;
  }
  .header-section .d-flex a:first-child {
    margin-right: 1rem;
  }
  .hero-section {
    margin-top: 66px;
  }
  br {
    display: none;
  }
  .hero-txt-wrap h3 {
    font-size: 2rem;
    line-height: 140%;
  }
  .hero-txt-wrap h1 {
    font-size: 3rem;
    line-height: 140%;
  }
  .hero-bttn a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .scroll-down {
    display: none;
    height: 0;
  }
  .pa-y4 {
    padding: 2rem 0;
  }
  .pickup-box {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .pickup-box div {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .pickup-box div p {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  .pickup-box div h6 {
    margin-left: 0;
    font-size: 1rem;
  }
  .pickup-box span {
    font-size: 1.4rem;
  }
  .about-txt h2 {
    font-size: 2.5rem;
  }
  .about-txt h5 {
    font-size: 1.2rem;
  }
  .common-heading {
    margin-bottom: 1rem;
  }
  .common-heading h2 {
    font-size: 2.5rem;
  }
  .common-heading p {
    font-size: 1.2rem;
  }
  .about-txt {
    margin-top: 2rem;
  }
  .about-txt .para {
    margin: 0;
    margin-top: 2rem;
  }
  .about-txt .para h6 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .about-txt .para p {
    font-size: 1rem;
  }
  .about-txt .text-md-end {
    text-align: end;
  }
  .ordr_1 {
    order: 1;
  }
  .ordr_2 {
    order: 2;
  }
  .services-txt {
    margin-top: 2rem;
  }
  .services-txt h5 {
    font-size: 1.1rem;
  }
  .services-txt p {
    font-size: 1.1rem;
  }
  .custom-margin-top-serv {
    margin-top: 3rem;
  }
  .feedback-section .feedback-head h5 {
    font-size: 1.5rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box {
    margin: 0 1rem;
    padding: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media {
    flex-direction: column;
    justify-content: center;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar {
    width: 100%;
    margin-bottom: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar span {
    font-size: 1rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .avatar h6 {
    font-size: 1.2rem;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .media-body h5 {
    font-size: 1.2rem;
    text-align: center;
  }
  .feedback-section .feedback-carousel .feedback-txt-box .media .media-body p {
    font-size: 1rem;
  }
  .post-section .post-box {
    margin-bottom: 2rem;
  }
  .post-section .post-box .txt h4 {
    font-size: 1.2rem;
  }
  .news-section .news-txt-box .media .media-body {
    flex-direction: column;
    align-items: flex-start;
  }
  .news-section .news-txt-box img {
    width: 7rem;
    margin-right: 1rem;
  }
  .news-section .news-txt-box p {
    margin-left: 0;
    font-size: 1rem;
  }
  .news-section .news-txt-box h6 {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .get-start-box {
    padding: 4rem 1rem;
  }
  .get-start-box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .get-start-box h6 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .get-start-box .bttns {
    margin-top: 3rem;
  }
  .get-start-box .bttns a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .get-start-box .bttns a i {
    padding-left: 0.5rem;
  }
  .ftr-logo {
    text-align: center;
    margin-bottom: 2rem;
  }
  .ftr-logo a {
    margin-top: 1rem;
  }
  .ftr-logo a img {
    width: 17rem;
  }
  .footer-section .ftr-menu {
    margin: 3rem 0;
  }
  .footer-section .ftr-menu ul {
    flex-direction: column;
  }
  .footer-section .ftr-menu ul li a {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .footer-section .ftr-copy {
    padding: 2rem 0;
    padding-bottom: 1rem;
  }
  .footer-section .ftr-copy p {
    font-size: 1rem;
  }
  .vision-hero-section .hero-ol {
    padding: 4rem 0;
    margin-top: -1rem;
  }
  .vision-about-section {
    background-image: none;
    margin-top: 1rem;
  }
  .about-txt .para p {
    margin-bottom: 0;
  }
  .value-box-wrap {
    flex-direction: column;
  }
  .value-box-wrap .custom-margin {
    margin: -2.5rem 0;
  }
  .team-person-box {
    width: 75%;
  }
  .company-section .company-title {
    margin-bottom: 3rem;
  }
  .company-section .company-title h2 {
    font-size: 2.5rem;
  }
  .company-section .company-title h5 {
    font-size: 1.2rem;
  }
  .company-section .company-table-list .d-flex h6 {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  .company-section .company-table-list .d-flex h5 {
    font-size: 1.2rem;
  }
  .custom-margin-top {
    margin-top: 3rem;
  }
  .about-txt .text-md-end {
    margin-top: 1rem;
  }
  .contact-form-box .form-group label {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .contact-form-box .form-group .form-control {
    font-size: 1rem;
  }
  .contact-hero-section {
    padding: 4rem 0;
  }
  .news-details-title h1 {
    font-size: 1.2rem;
  }
  .news-details-box h4 {
    font-size: 1.5rem;
  }
  .news-details-box p {
    font-size: 1rem;
  }
  .get-bg {
    padding: 0;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  .header-section {
    padding-bottom: 1rem;
  }
  .header-section .navbar-brand {
    width: 120px;
    padding: 0;
  }
  .header-section .fa-bars {
    font-size: 1.7rem;
    color: #055394;
  }
  .header-section .navbar-toggler {
    border: 0;
  }
  .header-section .d-flex {
    justify-content: center;
  }
  .header-section .d-flex a {
    font-size: 0.9rem;
  }
  .header-section .d-flex a:first-child {
    margin-right: 1rem;
  }
  br {
    display: none;
  }
  .hero-section {
    margin-top: 66px;
  }
  .hero-txt-wrap h3 {
    font-size: 3rem;
    line-height: 140%;
  }
  .hero-txt-wrap h1 {
    font-size: 3.5rem;
    line-height: 140%;
  }
  .pickup-box {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .pickup-box div {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .pickup-box div p {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
  .pickup-box div h6 {
    font-size: 1rem;
  }
  .pickup-box span {
    font-size: 1.8rem;
  }
  .pa-y4 {
    padding: 3rem 0;
  }
  .about-txt h2 {
    font-size: 2.5rem;
  }
  .about-txt h5 {
    font-size: 1.2rem;
  }
  .common-heading {
    margin-bottom: 1rem;
  }
  .common-heading h2 {
    font-size: 2.8rem;
  }
  .common-heading p {
    font-size: 1.3rem;
  }
  .about-txt {
    margin-top: 2rem;
  }
  .about-txt .para {
    margin: 0;
    margin-top: 2rem;
  }
  .about-txt .para h6 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .about-txt .para p {
    font-size: 1rem;
  }
  .about-txt .text-md-end {
    text-align: end;
  }
  .ordr_1 {
    order: 1;
  }
  .ordr_2 {
    order: 2;
  }
  .services-txt {
    margin-top: 2rem;
  }
  .services-txt h5 {
    font-size: 1.2rem;
  }
  .services-txt p {
    font-size: 1.2rem;
  }
  .get-start-box {
    padding: 4rem 1rem;
  }
  .get-start-box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .get-start-box h6 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .get-start-box .bttns {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .get-start-box .bttns a i {
    padding-left: 1rem;
  }
  .ftr-logo {
    text-align: center;
    margin-bottom: 2rem;
  }
  .ftr-logo a {
    margin-top: 1rem;
  }
  .ftr-logo a img {
    width: 17rem;
  }
  .footer-section .ftr-menu {
    margin: 3rem 0;
  }
  .footer-section .ftr-menu ul {
    justify-content: center;
  }
  .footer-section .ftr-menu ul li a {
    font-size: 1rem;
  }
  .footer-section .ftr-copy {
    padding: 2rem 0;
    padding-bottom: 1rem;
  }
  .footer-section .ftr-copy p {
    font-size: 1rem;
  }
  .vision-hero-section .hero-ol {
    padding: 4rem 0;
    margin-top: -1rem;
  }
  .vision-about-section {
    background-size: 40%;
    margin-top: 2rem;
  }
  .about-txt .para p {
    margin-bottom: 0;
  }
  .value-box-wrap .value-txt-item {
    width: 266px;
    height: 246px;
    overflow: hidden;
  }
  .value-box-wrap .value-txt-item h6 {
    font-size: 1.2rem;
  }
  .value-box-wrap .value-txt-item p {
    font-size: 1rem;
  }
  .value-box-wrap .custom-margin {
    margin: 0;
  }
  .team-person-box {
    width: 90%;
  }
  .company-section .company-title {
    margin-bottom: 3rem;
  }
  .company-section .company-title h2 {
    font-size: 3rem;
  }
  .company-section .company-title h5 {
    font-size: 1.5rem;
  }
  .company-section .company-table-list .d-flex h6 {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  .company-section .company-table-list .d-flex h5 {
    font-size: 1.2rem;
  }
  .custom-margin-top {
    margin-top: 3rem;
  }
  .about-txt .text-md-end {
    margin-top: 1rem;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-top: 1rem;
    text-align: right;
  }
  .header-section {
    padding-bottom: 1rem;
  }
  .header-section .navbar-brand {
    width: 150px;
    padding: 0;
  }
  .header-section .fa-bars {
    font-size: 1.7rem;
    color: #055394;
  }
  .header-section .navbar-toggler {
    border: 0;
  }
  .header-section .d-flex {
    justify-content: flex-end;
  }
  .header-section .d-flex a {
    font-size: 0.9rem;
  }
  .header-section .d-flex a:first-child {
    margin-right: 1rem;
  }
  .hero-section {
    margin-top: 66px;
  }
  .about-txt .text-md-end {
    margin-top: 1rem;
  }
  br {
    display: none;
  }
  .pa-y4 {
    padding: 4rem 0;
  }
  .pickup-box {
    padding: 0;
  }
  .pickup-box div {
    margin-left: 1rem;
  }
  .pickup-box div h6 {
    font-size: 1.2rem;
  }
  .about-txt h2 {
    font-size: 3rem;
  }
  .about-txt h5 {
    font-size: 1.5rem;
  }
  .common-heading {
    margin-bottom: 1rem;
  }
  .common-heading h2 {
    font-size: 3rem;
  }
  .common-heading p {
    font-size: 1.5rem;
  }
  .about-txt .para h6 {
    font-size: 1.5rem;
  }
  .about-txt .para p {
    font-size: 1rem;
  }
  .services-txt {
    margin-top: 2rem;
  }
  .services-txt h5 {
    font-size: 1.4rem;
  }
  .services-txt p {
    font-size: 1.4rem;
  }
  .footer-section .ftr-menu ul li a {
    font-size: 1rem;
  }
  .footer-section .ftr-logo p {
    font-size: 0.9rem;
  }
  .vision-hero-section {
    margin-top: 72px;
  }
  .team-person-box {
    width: 90%;
  }
  .company-section .company-title h2 {
    font-size: 4rem;
  }
  .company-section .company-title h5 {
    font-size: 1.5rem;
  }
  .company-section {
    padding-bottom: 16rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .header-section .navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .about-txt h2 {
    font-size: 4rem;
  }
  .about-txt h5 {
    font-size: 1.5rem;
  }
  .common-heading {
    margin-bottom: 1rem;
  }
  .common-heading h2 {
    font-size: 4rem;
  }
  .common-heading p {
    font-size: 1.5rem;
  }
  .about-txt .para h6 {
    font-size: 1.5rem;
  }
  .about-txt .para p {
    font-size: 1.2rem;
  }
  .services-txt {
    margin-top: 2rem;
  }
  .services-txt h5 {
    font-size: 1.5rem;
  }
  .services-txt p {
    font-size: 1.2rem;
  }
  .footer-section .ftr-menu ul li a {
    font-size: 1.2rem;
  }
  .company-section .company-title h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1400px) and (max-width: 1899px) {
  .common-heading p,
  .services-txt h5,
  .post-section .post-box .txt h4,
  .about-txt .para h6,
  .company-section .company-title h5,
  .team-person-box .txt h6,
  .about-txt h5,
  .hero-txt-wrap h5 {
    font-size: 1.5rem;
  }
  .get-start-box h3,
  .hero-txt-wrap h3 {
    font-size: 3rem;
  }
  .hero-txt-wrap h1 {
    font-size: 4.5rem;
  }
  .pa-y4 {
    padding: 4rem 0;
  }
  .company-section .company-title h2,
  .common-heading h2,
  .about-txt h2 {
    font-size: 4rem;
  }
  .team-person-box .txt h5,
  .services-header-area h4,
  .footer-section .ftr-menu ul li a,
  .company-section .company-table-list .d-flex h5,
  .company-section .company-table-list .d-flex h6,
  .get-start-box h6,
  .contact-form-box .form-group label,
  .feedback-section .feedback-carousel .feedback-txt-box .media .media-body p,
  .services-txt p,
  .about-txt .para p {
    font-size: 1.2rem;
  }
  .vision-about-section {
    background-size: 39%;
  }
  .company-section {
    padding-bottom: 16rem;
  }
  .contact-form-box .form-group .form-control {
    font-size: 1rem;
  }
}