@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
button,
strong,
u,
sub,
sup,
span,
textarea,
table tr td,
select,
input {
  padding: 0;
  margin: 0;
}

select:focus-within,
textarea:focus-within,
input:focus-within,
.form-control:focus-within,
button:focus-within {
  box-shadow: none !important;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
}

h1,
h2 {
  font-size: 3.5rem;
  line-height: 100%;
}

h3,
h4 {
  font-size: 2.6rem;
  line-height: 100%;
}

h5,
h6 {
  font-size: 2rem;
  line-height: 100%;
}

p {
  font-size: 1rem;
  line-height: 110%;
}

body {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

.main-page-wrapper {
  width: 100%;
  display: block;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
}

.default-bttn {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 110%;
  background: #055394;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
  border: 1px solid #055394;
}
.default-bttn:hover {
  background-color: #ffffff;
  color: #055394;
}

.secondary-bttn {
  font-size: 1rem;
  font-weight: 700;
  color: #055394;
  line-height: 110%;
  background: #ffffff;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
  border: 1px solid #055394;
}
.secondary-bttn:hover {
  background-color: #055394;
  color: #ffffff;
}

/* header css start */
.header-section {
  padding-top: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1607843137);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-section .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
  margin-right: 1rem;
}
.header-section .navbar-nav .nav-item .nav-link:hover {
  color: #055394;
}

/* header css end */