@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");
/*----------------------------------------------------------------------------------------------------------------------
Project:	    Mairu
Version:        1.0.0

Primary color: #055394; 
Secondary color: #74B4D9;  

Primary Font Family:' Noto Sans', sans-serif;

----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]

A. Basic Styling
  -- Styling

B. Helpers
  -- Common Header
  -- Common Button
  -- Common Paragraph

C. Components
    --- # Home page # ---
  -- Header
  -- Hero
  -- About 
  -- Services 
  -- Feedback 
  -- Post 
  -- News 
  -- Get start 
  -- Footer 
  --- # Vision page # ---
  -- Value
  -- Team
  -- Company Info
  --- # Services page # ---

D. Plugins Styles


E. Utility Styles
  -- Back to Top Button
  -- Other 


----------------------------------------------------------------------------------------------------------------------*/
/***********************************************************************************************************************
A. Basic Styling
***********************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
button,
strong,
u,
sub,
sup,
span,
textarea,
table tr td,
select,
input {
  padding: 0;
  margin: 0;
}

select:focus-within,
textarea:focus-within,
input:focus-within,
.form-control:focus-within,
button:focus-within {
  box-shadow: none !important;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
}

h1,
h2 {
  font-size: 3.5rem;
  line-height: 100%;
}

h3,
h4 {
  font-size: 2.6rem;
  line-height: 100%;
}

h5,
h6 {
  font-size: 2rem;
  line-height: 100%;
}

p {
  font-size: 1rem;
  line-height: 110%;
}

body {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

.japanease-font {
  font-family: "Noto Sans JP", sans-serif;
}

.default-bttn {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 110%;
  background: #055394;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
  border: 1px solid #055394;
}
.default-bttn:hover {
  background-color: #ffffff;
  color: #055394;
}

.secondary-bttn {
  font-size: 1rem;
  font-weight: 700;
  color: #055394;
  line-height: 110%;
  background: #ffffff;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
  border: 1px solid #055394;
}
.secondary-bttn:hover {
  background-color: #055394;
  color: #ffffff;
}

.common-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.common-heading h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}
.common-heading p {
  font-size: 2rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}

.pa-y4 {
  padding: 6rem 0;
}

/* header css start */
.header-section {
  padding-top: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1607843137);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 9999;
  font-family: "Noto Sans JP", sans-serif;
}
.header-section .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
  margin-right: 1rem;
}
.header-section .navbar-nav .nav-item .nav-link:hover {
  color: #055394;
}
.header-section .navbar-brand img {
  width: 13rem;
}

/* header css end */
.hero-section {
  background-color: #FEFEFE;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 85px;
}
.hero-section .hero-ol {
  padding: 8rem 0;
  background-image: url("../images/hero-ol-img.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.vision-hero-section {
  background-image: url("../images/vision-hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 85px;
}
.vision-hero-section .hero-ol {
  padding: 10rem 0;
  background: rgb(5, 83, 148);
  background: linear-gradient(90deg, rgba(5, 83, 148, 0.9) 0%, rgba(116, 180, 217, 0.9) 100%);
}

.services-hero-section {
  background-image: url("../images/vision-hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 85px;
}
.services-hero-section .hero-ol {
  padding: 10rem 0;
  background: rgb(5, 83, 148);
  background: linear-gradient(90deg, rgba(5, 83, 148, 0.9) 0%, rgba(116, 180, 217, 0.9) 100%);
}

.hero-txt-wrap {
  text-align: end;
}
.hero-txt-wrap h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.hero-txt-wrap h3 {
  font-size: 4rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 140%;
}
.hero-txt-wrap h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.hero-txt-wrap .hero-bttn {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.hero-txt-wrap .hero-bttn a {
  border: 1px solid #ffffff;
}
.hero-txt-wrap .hero-bttn i {
  margin-left: 3rem;
}
.hero-txt-wrap .scroll-down {
  margin-top: 2rem;
  position: relative;
  top: -1rem;
  z-index: 99;
  cursor: pointer;
}
.hero-txt-wrap .scroll-down a {
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 140%;
  z-index: 99;
}
.hero-txt-wrap .scroll-down img {
  position: absolute;
  left: 0.2rem;
  z-index: 99;
  width: 2rem;
  bottom: -7.5rem;
}

.custom-bg-one {
  background-image: url("../images/hero-bottom-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.about-txt {
  font-family: "Noto Sans JP", sans-serif;
}
.about-txt h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}
.about-txt h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}
.about-txt .para {
  margin-left: 2rem;
  margin-top: 3rem;
  margin-right: 1rem;
}
.about-txt .para h6 {
  font-size: 2rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
  margin-bottom: 2.5rem;
}
.about-txt .para p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  margin-bottom: 4rem;
  opacity: 0.7;
}
.about-txt .para a {
  padding-left: 4rem;
}
.about-txt .para a i {
  margin-left: 1.8rem;
}

.about-img img {
  border-radius: 0.8rem;
  display: block;
  width: 100%;
}

.vision-about-section {
  background-image: url("../images/vision-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center right;
  margin-top: 6rem;
}

.mission-img img {
  width: 80%;
  border-radius: 1rem;
}

.pickup-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 0 2rem;
}
.pickup-box span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
  border: 1px solid #055394;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
}
.pickup-box div {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #272727;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  width: 80%;
}
.pickup-box div p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #272727;
  line-height: 140%;
  margin-right: 2.5rem;
}
.pickup-box div h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-left: 2.5rem;
}

.parallax-bg-box {
  background-image: url("../images/paralax-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 28rem;
  background-attachment: fixed;
  background-position: bottom center;
}

.services-section {
  background-image: url("../images/sevices-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #055394;
}
.services-section .common-heading h2,
.services-section .common-heading p {
  color: #ffffff;
}

.services-txt h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
  margin-bottom: 1.5rem;
}
.services-txt h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 140%;
  margin-bottom: 1.5rem;
  position: relative;
}
.services-txt h6:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 2.5rem;
  height: 2px;
  background-color: #ffffff;
}
.services-txt p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 140%;
  opacity: 0.7;
}

.services-main-section .services-txt h5 {
  color: #055394;
}
.services-main-section .services-txt h6 {
  color: #055394;
}
.services-main-section .services-txt h6:before {
  background-color: #055394;
}
.services-main-section .services-txt p {
  color: #055394;
  opacity: 0.7;
}
.services-main-section .services-optional-title h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}

/* services text bg css */
.services-bloock-bg {
  position: relative;
}
.services-bloock-bg .services-txt p {
  color: #ffffff;
}
.services-bloock-bg:before {
  position: absolute;
  content: "";
  right: 0;
  top: 12%;
  width: 50%;
  height: 80%;
  border-radius: 1rem 0 0 1rem;
  background-color: #055394;
  padding: 1rem;
  z-index: -1;
}

.services-bloock-bg-2 {
  position: relative;
}
.services-bloock-bg-2 .services-txt p {
  color: #ffffff;
}
.services-bloock-bg-2:before {
  position: absolute;
  content: "";
  left: 0;
  top: 20%;
  width: 50%;
  height: 60%;
  border-radius: 0rem 1rem 1rem 0;
  background-color: #055394;
  padding: 1rem;
  z-index: -1;
}

.custom-margin-top-serv {
  margin-top: 7rem;
}

.feedback-section {
  background-color: #055394;
}
.feedback-section .feedback-head {
  margin-bottom: 4rem;
}
.feedback-section .feedback-head h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.feedback-section .feedback-carousel .feedback-txt-box {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding-right: 0;
  padding-left: 0.4rem;
  margin: 0 2rem;
}
.feedback-section .feedback-carousel .feedback-txt-box .media {
  align-items: flex-start;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .avatar {
  text-align: center;
  margin-right: 1rem;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .avatar img {
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  display: block;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .avatar span {
  display: block;
  font-size: 1.15rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  margin: 0.9rem 0;
  opacity: 0.8;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .avatar h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  opacity: 0.8;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .media-body h5 {
  background: rgb(5, 83, 148);
  background: linear-gradient(90deg, rgb(5, 83, 148) 0%, rgb(116, 180, 217) 100%);
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
  padding: 0.5rem 0.1rem;
  padding-left: 1rem;
}
.feedback-section .feedback-carousel .feedback-txt-box .media .media-body p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  opacity: 0.7;
  margin-top: 1rem;
}

.services-feedback-section {
  background-color: #ffffff;
}
.services-feedback-section .feedback-head h5 {
  color: #055394;
}
.services-feedback-section .feedback-carousel .feedback-txt-box {
  background-color: #F3F3F3;
}

.post-section {
  background-color: #055394;
}
.post-section .post-box {
  position: relative;
}
.post-section .post-box .thumbnail img {
  display: block;
  width: 100%;
}
.post-section .post-box .txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.post-section .post-box .txt h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.post-section .post-box .txt a {
  padding-left: 3rem;
}
.post-section .post-box .txt a i {
  padding-left: 1rem;
}

.news-section .news-txt-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 2px solid #272727;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
.news-section .news-txt-box .media {
  align-items: center;
  width: 100%;
}
.news-section .news-txt-box .media .media-body {
  display: flex;
  align-items: center;
}
.news-section .news-txt-box .media a {
  margin-left: auto;
}
.news-section .news-txt-box img {
  width: 10rem;
  border-radius: 0.675rem;
}
.news-section .news-txt-box p {
  font-size: 1.15rem;
  font-weight: 400;
  color: #272727;
  line-height: 140%;
  margin: 0 2rem;
}
.news-section .news-txt-box h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
}
.news-section .news-txt-box a {
  margin-left: auto;
}
.news-section .news-txt-box:hover p,
.news-section .news-txt-box:hover h6,
.news-section .news-txt-box:hover a {
  color: #055394;
}
.news-section .brdr-btm {
  border-bottom: 2px solid #272727;
  padding-bottom: 0.5rem;
}
.news-section .text-center {
  margin-top: 4rem;
}
.news-section .text-center a {
  padding-left: 4rem;
}
.news-section .text-center a i {
  padding-left: 1rem;
}

.get-start-bg {
  background-image: url("../images/get-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.get-start-box {
  padding: 4rem 3rem;
  text-align: center;
  background: rgb(5, 83, 148);
  background: linear-gradient(90deg, rgb(5, 83, 148) 0%, rgb(116, 180, 217) 100%);
  border-radius: 1rem;
}
.get-start-box h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.get-start-box h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 140%;
  opacity: 0.8;
  margin: 2rem 0;
}
.get-start-box .bttns a {
  border: 1px solid #ffffff;
}
.get-start-box .bttns a i {
  padding-left: 3rem;
}

.footer-section {
  padding-top: 3rem;
}
.footer-section .ftr-logo p {
  font-size: 1.15rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
}
.footer-section .ftr-logo a {
  display: block;
}
.footer-section .ftr-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-section .ftr-menu ul li a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
  margin-left: 1rem;
}
.footer-section .ftr-copy {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.footer-section .ftr-copy p {
  font-size: 1.15rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
}

.value-box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.value-box-wrap .value-txt-item {
  border: 2px solid #055394;
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}
.value-box-wrap .value-txt-item h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #055394;
  line-height: 140%;
  margin-bottom: 3rem;
}
.value-box-wrap .value-txt-item h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-bottom: 2rem;
}
.value-box-wrap .value-txt-item p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  text-align: center;
}
.value-box-wrap .custom-margin {
  margin: 0 -2.5rem;
}

.team-person-box {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.team-person-box .thumbnail img {
  display: block;
  width: 100%;
  border-radius: 1rem;
}
.team-person-box .txt h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.team-person-box .txt h6 {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-bottom: 1rem;
}
.team-person-box .txt p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  text-align: left;
}

.custom-margin-top {
  margin-top: -12rem;
}

.company-section {
  background-color: #055394;
  padding-bottom: 20rem;
}
.company-section .company-title h2 {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.company-section .company-title h5 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 140%;
}
.company-section .company-table-list .d-flex {
  padding: 1.5rem 0.5rem;
  border-top: 1px solid #FEFEFE;
}
.company-section .company-table-list .d-flex h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FEFEFE;
  line-height: 140%;
  opacity: 0.8;
  margin-right: 2rem;
  min-width: 100px;
}
.company-section .company-table-list .d-flex h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FEFEFE;
  line-height: 140%;
}
.company-section .company-table-list .d-flex:last-child {
  border-bottom: 1px solid #FEFEFE;
}

.services-header-area {
  margin-top: 2rem;
}
.services-header-area h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  border-bottom: 2px solid #333333;
  padding-bottom: 0.5rem;
}
.services-header-area h4 span {
  margin-left: 4rem;
  font-weight: 400;
}

.services-area-box {
  width: 100%;
  height: 6rem;
  background-color: #F3F3F3;
  margin-top: 1.5rem;
}

/* news css start */
.news-main-section .news-post-box {
  margin-top: 4rem;
}
.news-main-section .news-post-box .thumbnail img {
  display: block;
  width: 100%;
  border-radius: 1rem;
}
.news-main-section .news-post-box .txt {
  margin-top: 1rem;
}
.news-main-section .news-post-box .txt h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
  line-height: 140%;
  margin-bottom: 1rem;
}
.news-main-section .news-post-box .txt p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333333;
  line-height: 140%;
}

/* news css end */
/* contact css start */
.contact-hero-section {
  background-image: url("../images/contact-hero-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10rem 0;
}

.contact-form-box h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
}
.contact-form-box .custom-brdr {
  border-top: 1.5px solid #333333;
  padding-top: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.contact-form-box .form-group {
  position: relative;
}
.contact-form-box .form-group label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
}
.contact-form-box .form-group .form-control {
  font-size: 1.2rem;
  font-weight: 700;
  color: #272727;
  line-height: 140%;
  border: 0;
}
.contact-form-box .form-group i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
}
.contact-form-box .form-group textarea {
  border: 1px solid #272727 !important;
  border-radius: 1rem;
  resize: none;
}

/* contact css end */
/* news details css start */
.news-details-title {
  margin-bottom: 2rem;
}
.news-details-title h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
}

.news-details-box h6 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-bottom: 1rem;
}
.news-details-box h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  line-height: 140%;
  margin-bottom: 2rem;
}
.news-details-box p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #272727;
  line-height: 140%;
  margin-bottom: 1.5rem;
}
.news-details-box img {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

/* news details css end */
@media (min-width: 1950px) {
  .container {
    max-width: 1920px !important;
  }
}